{% comment %}
Copyright (c) 2016-present, Facebook, Inc.
All rights reserved.

This source code is licensed under the BSD-style license found in the
LICENSE file in the root directory of this source tree. An additional grant
of patent rights can be found in the PATENTS file in the same directory.
{% endcomment %}
<div class='col-xs-12 col-sm-2'>
  <ul class='nav nav-pills nav-stacked' id='sub-detail-nav'>
    {% if active_tab == 'call_sms' %}
      <li role="presentation" class="{% if active_tab == 'call_sms' and filter is None %} active {% endif %}">
        <a href="{% url 'call-report' %}">All Call & SMS Reports</a>
      </li>
      {% for key, values in report_list.items %}
        <li role="presentation" class="{% if filter == key %} active {% endif %}">
          <a href="?filter={{ key }}">{{ key }}</a>
        </li>
      {% endfor %}
    {% endif %}

    {% if active_tab == 'subscriber_reports' %}
      <li role="presentation" class="active">
        <a href="{% url 'subscriber-report' %}?filter=Subscriber">Subscriber Reports</a>
      </li>
    {% endif %}

    {% if active_tab == 'billing_reports' %}
      <li role="presentation" class="{% if active_tab == 'billing_reports' and filter is None %} active {% endif %}">
        <a href="{% url 'billing-report' %}">All Billing Reports</a>
      </li>
      {% for key, values in report_list.items %}
        <li role="presentation" class="{% if filter == key %} active {% endif %}">
          <a href="?filter={{ key }}">{{ key }}</a>
        </li>
      {% endfor %}
    {% endif %}

    {% if active_tab == 'health_reports' %}
      <li role="presentation" class="active">
        <a href="{% url 'health-report' %}?filter=Health">Health Report</a>
      </li>
    {% endif %}
    {% if active_tab == 'Call_Sms_Data_Usage' %}
      <li role="presentation" class="active">
        <a href=/dashboard>Call Sms & Data Usage Reports</a>
      </li>
    {% endif %}

  </ul>
</div>
