{% extends "dashboard/layout.html" %}
{% comment %}
Copyright (c) 2016-present, Facebook, Inc.
All rights reserved.

This source code is licensed under the BSD-style license found in the
LICENSE file in the root directory of this source tree. An additional grant
of patent rights can be found in the PATENTS file in the same directory.
{% endcomment %}
{% load apptags %}
{% load guardian_tags %}

{% block title %}
{% tmpl_const "SITENAME" %} | towers
{% endblock %}

{% block pagestyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.13-beta/nv.d3.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" type="text/css"/>
<style type="text/css">
  div.tooltip-inner {
    max-width: 350px;
    background-color:#483D8B;
}
</style>
{% endblock %}

{% block content %}
{% include "dashboard/report/header.html" with header='Subscriber' %}
{% get_obj_perms request.user for network as 'user_permission' %}
<div class='row'>
    {% include "dashboard/report/nav.html" with active_tab='subscriber_reports' %}
    {% if 'view_report' in user_permission %}
    <div class='content col-xs-12 col-sm-10 col-md-10'>
        {% include "dashboard/report/filter.html" with action_url='/dashboard/reports/subscriber' %}
        {% if network_has_activity %}
        <div class="row">
            <div id='subscriber-chart'></div>
            <div id='subscriber-status'></div>
        </div>
        {% include 'dashboard/timezone-notice.html' %}
        {% else %}
        <p>There is no network activity to display.</p>
        {% endif %}
    </div> <!-- /.col-md-4 -->
    {% else %}
    {% include 'dashboard/permission_denied.html' %}
    {% endif %}
</div>
{% endblock %}
{% block js %}
<script>
  $(function() {
    setTimeout(function() {
      $('.timezone-notice').fadeIn(500);
    }, 800);
  });

</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.1.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.13-beta/nv.d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dashboard/saveSvgAsPng.js"></script>
<script type="text/jsx" src="/static/js/dashboard/report-chart-components.js"></script>
<script type="text/jsx">
  var currentTimeEpoch = {{ current_time_epoch }};
  var timezoneOffset = {{ timezone_offset }};
  {% if 'Subscriber Activity' in reports %}
  React.render(
    <TimeseriesChartWithButtonsAndDatePickers
      title='Subscriber Activity'
      chartID='activity-chart'
      statTypes='Provisioned,deactivate_number,zero_balance_subscriber'
      level='{{ level }}'
      levelID='{{ level_id }}'
      aggregation='count'
      yAxisLabel='numbers'
      defaultButtonText='month'
      currentTimeEpoch={currentTimeEpoch}
      timezoneOffset={timezoneOffset}
      tooltipUnits='s of'
      chartType='bar-chart'
      info='This report shows total number of provisioned, de-provisioned & subscribers with zero balance for selected time window.'
    />,
    document.getElementById('subscriber-chart')
  );
  {% endif %}
  {% if 'Subscriber Status' in reports %}
    React.render(
    <TimeseriesChartWithButtonsAndDatePickers
      title='Subscriber Status'
      chartID='status-chart'
      statTypes='expired,first_expired,blocked'
      level='{{ level }}'
      levelID='{{ level_id }}'
      aggregation='count'
      yAxisLabel='numbers'
      defaultButtonText='month'
      currentTimeEpoch={currentTimeEpoch}
      timezoneOffset={timezoneOffset}
      tooltipUnits='s of'
      chartType='bar-chart'
      info='This report shows different status of subscribers in terms their balance expiry, validity and blocked state for selected time window.'
    />,
    document.getElementById('subscriber-status')
  );
  {% endif %}
</script>


{% endblock %}