<h4>
   {{ title }} &nbsp;
	<a  rel="tooltip" class='glyphicon glyphicon-info-sign' data-toggle="tooltip" data-placement="right" title="{{ info }}"></a>
</h4>
<span>
	<span class='datepicker'>
		<label>from</label>
		<input class="from_month" type="text" />
	</span>
	<span class='datepicker'>
		<label>to</label>
		<input class="to_month" type="text" />
	</span>
	<span>
		<input class="submit" type="button" value="Go" />
	</span>
	<span class='spacer'></span>
	<!--span class="loadingText">
		<a href="javascript:void(0);" title="download graph">
			<i class='fa fa-lg fa-download' aria-hidden="true"></i>
		</a>
	</span-->
</span>
<table id="{{ id }}"></table>