{% extends "dashboard/layout.html" %}
{% comment %}
Copyright (c) 2016-present, Facebook, Inc.
All rights reserved.

This source code is licensed under the BSD-style license found in the
LICENSE file in the root directory of this source tree. An additional grant
of patent rights can be found in the PATENTS file in the same directory.
{% endcomment %}
{% load guardian_tags %}
{% load apptags %}


{% block title %} {% tmpl_const "SITENAME" %} | Dashboard {% endblock %}


{% block pagestyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.13-beta/nv.d3.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" type="text/css"/>

<style>
  .timezone-notice {
    display: none;
  }
   div.tooltip-inner {
    max-width: 350px;
    background-color:#483D8B;
  }
</style>
<html lang="en">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>

$(document).ready(function(){
$("#dialog").modal('show');
});

 </script>
</head>
<body>
{% if messages %}
<div class='modal fade' id='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class='modal-title'>
          Password Expiry Status
        </h4>
      </div>
      <div class='modal-body'>
        {% for message in messages %}
        <p>
          Hi {{ message }}
        </p>
          {% endfor %}
        <p>
          <strong>
            Please change your password.
          </strong>
        </p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
        <a href='/password/change' class='btn btn-primary' type='button'>Change Password</a>

      </div>
    </div>
  </div>
</div>


{% endif %}
</div>
</body>

{% endblock %}


{% block content %}
{% get_obj_perms request.user for network as 'user_permission' %}
{% include "dashboard/report/header.html" with header='Call Sms & Data Usage' %}


<div class="row">
 {% include "dashboard/report/nav.html" with active_tab='Call_Sms_Data_Usage' %}
   <div class='content col-xs-12 col-sm-10 col-md-10'>
     {% if 'view_graph' in user_permission %}
     {% include "dashboard/report/cms-filter-action.html" with action_url='/dashboard' %}
     {% if network_has_activity %}
  <div id='sms-usage-chart'></div>
  <div id='call-usage-chart'></div>
  <div id='data-usage-chart'></div>
  {% include 'dashboard/timezone-notice.html' %}
{% else %}
  <p>There is no network activity to display.</p>
{% endif %}
{% else %}
  {% include 'dashboard/permission_denied.html' %}
  {% endif %}
{% endblock %}
   </div>
</div>



{% block js %}
{% if network_has_activity %}
<script>
  $(function() {
    setTimeout(function() {
      $('.timezone-notice').fadeIn(500);
    }, 800);
  });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.1.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.13-beta/nv.d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dashboard/saveSvgAsPng.js"></script>
<script type="text/jsx" src="/static/js/dashboard/report-chart-components.js"></script>
<script type="text/jsx">
  var currentTimeEpoch = {{ current_time_epoch }};
  var timezoneOffset = {{ timezone_offset }};
  React.render(
    <TimeseriesChartWithButtonsAndDatePickers
      title='SMS usage'
      chartID='sms-chart'
      statTypes='sms,local_sms,local_recv_sms,outside_sms,incoming_sms,free_sms,error_sms'
      level='{{ level }}'
      levelID='{{ level_id }}'
      aggregation='count'
      yAxisLabel='number of SMS'
      currentTimeEpoch={currentTimeEpoch}
      timezoneOffset={timezoneOffset}
      tooltipUnits=''
      chartType='line-chart'
      info='This report shows total number of SMS (sent or received) in a network for a selected time window.'
    />,
    document.getElementById('sms-usage-chart')
  );
  React.render(
    <TimeseriesChartWithButtonsAndDatePickers
      title='Call durations'
      chartID='duration-chart'
      statTypes='call,local_call,local_recv_call,outside_call,incoming_call,free_call'
      level='{{ level }}'
      levelID='{{ level_id }}'
      aggregation='duration'
      yAxisLabel='seconds of calls'
      currentTimeEpoch={currentTimeEpoch}
      timezoneOffset={timezoneOffset}
      tooltipUnits='s of'
      chartType='line-chart'
      info='This report shows total minutes of call (MO or MT) in a network for a selected time window.'
    />,
    document.getElementById('call-usage-chart')
  );
  React.render(
    <TimeseriesChartWithButtonsAndDatePickers
      title='Data usage'
      chartID='data-chart'
      statTypes='total_data,uploaded_data,downloaded_data'
      level='{{ level }}'
      levelID='{{ level_id }}'
      aggregation='duration'
      aggregation=''
      yAxisLabel='MB'
      currentTimeEpoch={currentTimeEpoch}
      timezoneOffset={timezoneOffset}
      tooltipUnits='MB of'
      chartType='line-chart'
      info='This graph shows total data ( uplink and downlink) used by network for selected time window.'
    />,
    document.getElementById('data-usage-chart')
  );
</script>
{% endif %}

{% endblock %}
