{% load apptags %}
{% load guardian_tags %}
{% get_obj_perms request.user for network as 'user_permission' %}
<div class='modal fade' id='broadcast-modal'>
    <form id='broadcast-form' name="broadcast-form" method="post" onsubmit="return broadcastSms();">
        <div class='modal-dialog'>
            {% if 'send_sms' in user_permission %}
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class='modal-title'>
                        Broadcast SMS
                        <i class='fa fa-bullhorn'></i>
                    </h4>
                </div>
                <div class='modal-body'>
                    <div id='messages-container'></div>
                    <div class="form-group">
                        <label class="control-label">Send to</label>
                        <div class='controls'>
                            <label class="radio radio-inline">
                                <input id="send_to_network" type="radio" name="send_to"
                                       value="network" {% if target == 'network' %} checked="checked" {% endif %}>Network
                            </label>
                            <label class="radio radio-inline">
                                <input id="send_to_tower" type="radio" name="send_to"
                                       value="tower" {% if target == 'tower' %} checked="checked" {% endif %}>Tower
                            </label>
                            <label class="radio radio-inline">
                                <input id="send_to_imsi" type="radio" name="send_to"
                                       value="imsi" {% if target == 'imsi' %} checked="checked" {% endif %}>IMSI
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="network_row">
                        <label class="control-label">Network</label>
                        <div class='controls'>
                            <span>{{user_profile.network.name }}</span>
                            <input type="hidden" name="network_id" id="network_id" value="{{user_profile.network.id }}"/>
                        </div>
                    </div>
                    <div class="form-group" id="tower_row">
                        <label class="control-label">Tower</label>
                        <div class='controls'>
                            {% get_towers network.id uuid %}
                        </div>
                    </div>
                    <div class="form-group" id="imsi_row">
                        <label class="control-label">IMSI(s)</label>
                        <div class='controls'>
                            <input type="text" name="imsi" id="imsi" class="form-control" value="{{ imsi }}" />
                            <span>You can add multiple IMSIs seperated by comma(,)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="message" class="control-label">Message</label>
                        <div class='controls'>
                            <textarea name="message" id="message" cols="48" rows="4" class="form-control" maxlength="140" required></textarea>
                            <span>Maximum 140 characters.</span>
                        </div>
                    </div>
                </div> <!-- /.modal-body -->
                <div class='modal-footer'>
                    <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
                    <input type="hidden" name="token" id="token" value="{{ csrf_token }}">
                    <input class="btn btn-primary" type="submit" value="Broadcast" id='broadcast_submit'>
                </div>
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
                <strong><h4>403! Permission Denied!</h4></strong>
                <p><b>SMS Broadcast</b> is not allowed, Please contact your administrator.</p>
            </div>
            {% endif %}
        </div>
    </form>

</div>
